<div
  class='flex flex-col flex-wrap w-full justify-around font-sans text-nav-text-and-icons scroll-smooth bg-ground-floor'
>
  <div class='fixed top-0 p-2 w-full border-b bg-basement'>
    <div class='flex flex-col flex-wrap items-center'>
      <div class='text-xl'>@crowdstrike/graphics-core</div>
      <div class='text-lg'>A utility library for WebGL</div>
    </div>
    <div class='flex flex-row justify-center max-w-full overflow-x-auto'>
      <button
        {{on 'mouseup' (fn this.onDemoFilter undefined)}}
        class='m-2 mx-5 border-2 rounded-md py-1 px-2 cursor-pointer hover:text-positive uppercase'
        type='button'
      >reset</button>
      {{#each this.demoTags as |tag|}}
        <button
          {{on 'mouseup' (fn this.onDemoFilter tag)}}
          class='m-2 border-2 rounded-md py-1 px-2 cursor-pointer hover:text-positive text-blue {{if (this.isFiltered tag) 'text-positive' }}'
          type='button'
        >{{tag}}</button>
      {{/each}}
    </div>
  </div>
  <div class='max-w-5xl m-auto flex justify-center my-32'>
    <div class='flex flex-row flex-wrap justify-between m-2'>
      {{#each this.filteredDemos as |demo|}}
        <div class='m-8 hover:text-positive w-64 border-t'>
          {{#if demo.id}}
            <LinkTo
              class='flex flex-col'
              @route='routes.{{demo.route}}'
              @model={{if demo.id demo.id demo.description}}
            >
              <div class='text-md font-bold mt-2'>
                {{demo.name}}
              </div>
              <div class='text-sm mt-4 mb-2 text-nav-text-secondary'>
                {{demo.description}}
              </div>
              <div class='flex flex-row flex-wrap my-2 text-blue'>
                {{#each demo.tags as |tag|}}
                  <div
                    class='text-xs flex mr-2 mb-2 border rounded-md p-1 font-bold cursor-pointer'
                  >{{tag}}</div>
                {{/each}}
              </div>
            </LinkTo>
          {{else}}
            <LinkTo class='flex flex-col' @route='routes.{{demo.route}}'>
              <div class='text-md font-bold mt-2'>
                {{demo.name}}
              </div>
              <div class='text-sm mt-4 mb-2'>
                {{demo.description}}
              </div>
              <div class='flex flex-row flex-wrap my-2'>
                {{#each demo.tags as |tag|}}
                  <div
                    class='text-xs flex mr-2 mb-2 border rounded-md p-1 font-bold cursor-pointer'
                  >{{tag}}</div>
                {{/each}}
              </div>
            </LinkTo>
          {{/if}}
        </div>
      {{/each}}

    </div>
  </div>
</div>
